*{
  margin: 0;
  padding: 0;
  
}

.App {
  margin: 0;
  padding: 0;
  text-align: center;
  background: #E6F0F2;
}
h1{
  padding-top: 1%;
  padding-bottom: 1%;

  letter-spacing: .5em;
  color: #ffffff;
  background: #9EBECB;
  border-bottom: 2px solid #7296A4;
}
.bottom{
  height: 100%;
  padding-bottom: 50px;
  margin-bottom: 0;
  background: #E6F0F2;
  overflow: hidden;
}